ansible_become_password:
  "{{ lookup('passwordstore', 'hosts/' + inventory_hostname + '-user') }}"

# Naming keys with user and host makes them much easier to manage. Optional
# suffix can be used for further disambiguation or specifying key type.
ssh_key_name: "{{ ansible_user }}_{{ ansible_hostname }}{{ ssh_key_suffix }}"

# For cloning my repositories - use SSH by default (assuming configured keys).
# Override by changing to "https://github.com/".
github_url: "git@github.com:"

# locations
fzf_home:           "{{ ansible_env.HOME }}/src/fzf"
fzf_history:        "{{ ansible_env.HOME }}/data/fzf/history"
fzf_vim_history:    "{{ ansible_env.HOME }}/data/fzf/vim"
dotfiles_home:      "{{ ansible_env.HOME }}/src/dotfiles.git"
ansible_setup_path: "{{ ansible_env.HOME }}/src/ansible-setup"
passwordstore_path: "{{ ansible_env.HOME }}/src/password-store"

# consider including:
# - _FASD_DATA
# - HISTFILE
