file://{{ ansible_env.HOME }}/janek
file://{{ ansible_env.HOME }}/media/muzyka
file://{{ ansible_env.HOME }}/media/obrazy
file://{{ ansible_env.HOME }}/.config
file://{{ ansible_env.HOME }}/.config/ansible-system-setup
file://{{ ansible_env.HOME }}/janek/lily
