[global_config]
  suppress_multiple_term_dialog = True
  inactive_color_offset = 1.0
[keybindings]
[profiles]
  [[default]]
    palette = "#000000:#f02b2b:#5cba00:#d6ab00:#2d83fa:#e63cc0:#15c9b9:#b4b9bd:#000000:#f02b2b:#5cba00:#d6ab00:#2d83fa:#e63cc0:#15c9b9:#b4b9bd"
    background_image = None
    word_chars = "-A-Za-z0-9,./?%&#_"
    use_system_font = False
    cursor_color = "#808080"
    foreground_color = "#b4b9bd"
    scroll_on_output = False
    font = Ubuntu Mono 12
    background_color = "#3b1d32"
    scrollback_infinite = True
  [[old-ubuntulike]]
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#1e90ff:#cd00cd:#00cdcd:#e5e5e5:#4c4c4c:#ff0000:#00ff00:#ffff00:#4682b4:#ff00ff:#00ffff:#ffffff"
    background_image = None
    background_darkness = 0.9
    background_type = transparent
    use_system_font = False
    foreground_color = "#ffffff"
    font = Ubuntu Mono 12
    background_color = "#300a24"
    scrollback_infinite = True
  [[solarlike]]
    palette = "#073642:#de2828:#50a100:#bd9700:#2875e0:#cc35ab:#12b0a2:#839496:#073642:#de2828:#50a100:#bd9700:#2875e0:#cc35ab:#12b0a2:#839496"
    background_color = "#002b36"
    background_image = None
    scrollback_infinite = True
    foreground_color = "#839496"
  [[mintlike-transparent]]
    palette = "#000000:#ed2626:#42c400:#c7bb08:#1781eb:#d932b5:#23ccbf:#e0e0e0:#000000:#f71e1e:#55cc00:#d1ca00:#1781eb:#e02dba:#20d1c4:#f0f0f0"
    background_darkness = 0.7
    background_type = transparent
    background_image = None
    foreground_color = "#e0e0e0"
    background_color = "#101010"
    scrollback_infinite = True
  [[solarized]]
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#839496:#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#839496"
    background_color = "#002b36"
    background_image = None
    scrollback_infinite = True
    foreground_color = "#839496"
  [[selenized]]
    palette = "#073642:#f43534:#5ab220:#caa900:#1d83e1:#da41b6:#27bfb3:#a6acb6:#073642:#f43534:#5ab220:#caa900:#1d83e1:#da41b6:#27bfb3:#a6acb6"
    background_color = "#0e273f"
    background_image = None
    scrollback_infinite = True
    foreground_color = "#a6acb6"
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
